@using Microsoft.AspNetCore.Identity
@using ExpenseTracker.Data
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        
        <li>
            <a class="nav-link text-dark nav-icons" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-user-o"></i> Profile</a>
        </li>
        <li>
            <a href="/Expenses/Index" class="nav-link nav-icons"><i class="fa fa-calculator"></i> Expenses</a>
        </li>
        <li>
            <a href="/Contact/Create" class="nav-link nav-icons"><i class="fa fa-envelope-o"></i> Contact us</a>
        </li>
        <li>
            <a class="nav-link nav-icons" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("Home", new { area = "" })">
                <i class="fa fa-long-arrow-right"></i> Log Out</a>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li>
            <a href="/Contact/ContactUs" class="nav-link nav-icons"><i class="fa fa-envelope-o"></i> Contact us</a>
        </li>
    }
</ul>